*{font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
body{padding-top: 50px; background-color: #3c3c3c;}

.g-head {position: relative;width: 100%;}
.g-head .title {position: absolute;left: 50%;bottom:15%;transform: translateX(-50%);color: #fff;background-color: transparent;}
.g-head .title a span {font-size: 16px;}
.g-head .title a{color: inherit;}
.g-head .title a:hover{text-decoration: none;}
.navbar-brand{padding:10px 15px 10px 15px;}
#logo-icon{display: inline-block; width: 30px;height: 30px;}


.g-info{min-height: 500px;max-width: 1920px;padding-left: 13%;margin-bottom: 0px;padding-bottom: 10px; background: url(../img/me2.png) no-repeat; background-position: bottom right;background-color: #fff;}


.g-skill{max-width: 1920px;background-color: #f3f3f3;padding: 5% 0 5%;}
.nav-title h2{text-align: center;}
.nav-title hr{border:3px solid black;width: 60px;}

.u-skill div img{width: 256px; height: 256px;margin: 0 auto;}
.u-skill div h3{text-align: center;}

.g-ku{max-width: 1920px;background-color: #fff;padding: 5% 0 5%;}


@media (min-width: 768px) {
 	.g-head .title h1{font-size: 64px;}

}

@media (max-width: 768px) {
 	.g-head .title a p{font-size: 12px;}
 	.g-head .title a span{font-size: 12px;}
 	.g-info{background-image: none;padding-left: 10%;}
}

@media (min-width: 992px) {
	.g-head .title h1{font-size: 64px;}
}




@media (min-width: 1200px) {
 	.g-head .title h1{font-size: 112px;}
}